<h2> Stability </h2>
<div class="row">
    <div class="four columns" style="color: #03A9F4;">Rotation</div>
    <div class="four columns" style="color: #4CAF50;">Position</div>
    <div class="four columns" style="color: black;">Overall</div>
</div>

<admin-change-monitor [height]="300" [width]="width" [name]="'calibration'"></admin-change-monitor>

<hr/>

<h2> Offsets </h2>

<div>LastUpdateTime: {{lastUpdateTime}}</div>

<br/>

<h1>PositionOffset:</h1>
<h1>{{packet?.posOffsetX}}</h1>
<h1>{{packet?.posOffsetY}}</h1>
<h1>{{packet?.posOffsetZ}}</h1>

<br/>

<h1>RotationOffset:</h1>
<h1>{{packet?.rotOffsetX}}</h1>
<h1>{{packet?.rotOffsetY}}</h1>
<h1>{{packet?.rotOffsetZ}}</h1>
<h1>{{packet?.rotOffsetW}}</h1>

<div class="row">
    <div class="six columns" #rotationOffset moveable (moveUpdate)="moveRotation($event)"></div>
    <div class="six columns" #positionOffset moveable (moveUpdate)="movePosition($event)"></div>
</div>
