<div class="container-root">

    <div class="list-root"
         moveable
         (moveStart)="handleMoveStart($event)"
         (moveUpdate)="handleMoveUpdate($event)"
         (moveEnd)="handleMoveEnd($event)">
         

        <div class="list-container"
            [ngStyle]="containerStyle"
            [ngClass]="{ moving: isScrolling, static: !isScrolling }">
            <div *ngFor="let graph of graphs; trackBy:graph?.id"
                 class="list-item"
                 [ngClass]="{ moving: graph.isPickedUp, static: !graph.isPickedUp }"
                 [ngStyle]="getGraphStyle(graph)">
                <graph-section 
                    [graph]="graph"
                    (onMove)="moveGraph(graph, $event)">
                </graph-section>

            </div>
        </div>
    </div>

    <div class="graph-creation-button"
        moveable
        (moveStart)="handleCreateStart($event)"
        (moveUpdate)="handleCreateUpdate($event)"
        (moveEnd)="handleCreateEnd($event)">
        <span>+</span>
    </div>
</div>
