.list-root {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.list-container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    height: 100%;
    box-sizing: border-box;
}

.list-item {
    position: absolute;
    top: 0;

    flex-shrink: 0;
    height: 100%;
    display: inline-block;
    box-shadow: -6px 0px 28px 0px black;

    -webkit-transition: top 0.05s linear;
    -ms-transition: top 0.05s linear;
    transition: top 0.05s linear;
}

.list-item.moving {
    top: -25px;
}

.list-item.static {
    -webkit-transition: top 0.05s linear, -webkit-transform 0.2s ease-in-out;
    -ms-transition: top 0.05s linear, -ms-transform 0.2s ease-in-out;
    transition: top 0.05s linear, transform 0.2s ease-in-out;
}

.graph-creation-button {
    position: absolute;
    right: 0;
    top: 50%;

    border-color: #4CAF50;
    background: #4CAF50;
    color: white;

    font-size: 5em;
    padding: 50px;
    height: 200px;
    vertical-align: middle;
    z-index: 999
}

.graph-creation-button.first {
    left: 0;
}
