<div class="list-root"
     moveable
     (moveStart)="handleMoveStart($event)"
     (moveUpdate)="handleMoveUpdate($event)"
     (moveEnd)="handleMoveEnd($event)">

    <div class="list-container" [ngStyle]="getContainerStyle()">
        <div *ngFor="let graph of graphs; trackBy:graph?.id; let isFirst = first"
             class="list-item"
             [ngClass]="{ moving: graph.isPickedUp, static: !graph.isPickedUp }"
             [ngStyle]="getStyle(graph)">

            <graph-section
                [graph]="graph"
                (onDelete)="deleteGraph(graph, $event)"
                (onSelect)="selectGraph(graph, $event)"
                (onMove)="moveGraph(graph, $event)"
                (onMoveDown)="handleMoveDown(graph)"
                (onMoveUp)="handleMoveUp(graph)">
            </graph-section>

            <button class="graph-creation-button first"
                *ngIf="isFirst"
                (click)="addGraph(graph.listIndex)">
                +
            </button>

            <button class="graph-creation-button"
                (click)="addGraph(graph.listIndex + 1)">
                +
            </button>

        </div>

        <div *ngIf="graphs.length == 0"
            class="list-item" style="positon: relative; height: 100%;">
            <button (click)="addGraph(0)" style="position: absolute; bottom: 0; height: 500px; background: #4CAF50; border-color: #4CAF50; color: white;">
                Add new graph
            </button>
        </div>

    </div>
</div>

<div *ngIf="selectedGraph" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: white;">
    <graph-detail
        [graph]="selectedGraph"
        (onClose)="deselectGraph()">
    </graph-detail>
</div>
