.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: visible;
    overflow-y: hidden;
}

.list-item {
    flex-shrink: 0;
    height: 100%;
    display: inline-block;
    box-shadow: -6px 0px 28px 0px black;
}
