<div class="sliders">
    <h2> Camera </h2>
    <div class="row">
        <span class="two columns">Gain</span>
        <span class="two columns">{{gain}}</span>
        <input #gainInput class="eight columns" type="range"
            (input)="setGain(gainInput.value)"
            min="1" max="47" steps="1" value="{{gain}}">
    </div>
    <div class="row">
        <span class="two columns">Exposure</span>
        <span class="two columns">{{exposure}}</span>
        <input #exposureInput class="eight columns" type="range"
            (input)="setExposure(exposureInput.value)"
            min="0" max="32767" steps="1" value="{{exposure}}">
    </div>
    <div class="row">
        <span class="two columns">BLC</span>
        <span class="two columns">{{blc}}</span>
        <input #blcInput class="eight columns" type="range"
            (input)="setBlc(blcInput.value)"
            min="0" max="1023" steps="1" value="{{blc}}">
    </div>

    <div class="row">
        <span class="two columns">Auto contrast</span>
        <span class="one columns">{{contrastClipping}}% clipping</span>
        <button class="one column toggle-button" (click)="toggleAutoContrast()" style="padding: 0;" [ngClass]="{ toggled: autoContrast }">
            On/Off
        </button>
        <input #contrastInput class="eight columns" type="range"
            (input)="setContrastClipping(contrastInput.value)"
            [disabled]="!autoContrast"
            min="0" max="100" value="{{contrastClipping*100}}">
    </div>

    <br/>

    <div class="row">
        <span class="two columns">Camera Gap Offset</span>
        <span class="one columns">{{gap}}cm</span>
        <button class="one column toggle-button" (click)="toggleGapAutoAdjust()" style="padding: 0;" [ngClass]="{ toggled: gapAutoAdjust }">
            Auto
        </button>
        <input #gapInput class="eight columns" type="range"
            (input)="setGap(gapInput.value)"
            [disabled]="gapAutoAdjust"
            min="-1000" max="1000" value="{{gap * 100 * 100}}">
    </div>

    <br/>

    <div class="row">
        <button class="six columns toggle-button"
                [ngClass]="{ toggled: camerasActive }"
                (click)="setCamerasActive(true)">
            Activate Cameras
        </button>

        <button class="six columns toggle-button"
                [ngClass]="{ toggled: !camerasActive }"
                (click)="setCamerasActive(false)">
            Deactivate Cameras
        </button>
    </div>

    <br/>

    <div class="row">
        <button class="six columns" (click)="saveCameraSettings()">
            Save current settings
        </button>

        <button class="six columns" (click)="loadCameraSettings()">
            Load settings
        </button>
    </div>
</div>
