/* Bar charts */
.bar {
    stroke: black;
    stroke-width: 2px;
}


/* Scatterplot */

.point {
    fill: black;
    transition: 0.3s linear;
    r: 5;
}

.point.selected {
    fill: #03A9F4;
    r: 7;
}

.point.filtered {
    fill: #607D8B;
    r: 3;
}

.point.selected.filtered {
    fill: #FF5722;
}

/* Overview line chart */

.line-point {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}


/* Admin Line Graphs */

.line {
    stroke: #03A9F4;
    stroke-width: 2;
    fill-opacity: 0.4;
}

.line.selected {
    stroke: #F44336;
}

.tick line {
    opacity: 0.1;
}
