.scatter-point {
    fill: white;
    transition: 0.3s linear;
    r: 5;
}

.scatter-point.selected {
    fill: #03A9F4;
    r: 7;
}

.scatter-point.filtered {
    fill: #607D8B;
    r: 3;
}

.scatter-point.selected.filtered {
    fill: #FF5722;
}

.line {
    stroke: #03A9F4;
    stroke-width: 2;
    fill-opacity: 0.4;
}

.line.selected {
    stroke: #F44336;
}

.tick line {
    opacity: 0.1;
}
