.data {
    fill: black;
    transition: r 0.1s linear;
    r: 5;
}

.data.selected {
    fill: green;
}

.data.filtered {
    fill: gray;
    r: 3;
}

.data.selected.filtered {
    fill: red;
}

.line {
    stroke: #03A9F4;
    stroke-width: 2;
    fill-opacity: 0.4;
}

.line.selected {
    stroke: #F44336;
}
