.root {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.root.vertical {
    flex-direction: column;
}

.root.horizontal {
    flex-direction: row;
}

.scroller {
    overflow: hidden;
    position: relative;
}

.horizontal .scroller {
    display: flex;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal .list {
    flex-direction: row;
}

.vertical .list {
    flex-direction: column;
}

.item {
    font-size: 30px;
    width: 200px;
    height: 140px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s linear;
    border: 1px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical .item {

}

.item.selected {
    background: #8BC34A;
    border: 1px solid black;
}


.triangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical .triangle {
    width: 140px;
    height: 75px;
}

.horizontal .triangle {
    width: 75px;
    height: 140px;
}

.triangle .before,
.triangle .after {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    transition: 0.5s linear;
}

/* Pointing up */
.vertical .triangle .before {
    border-right-width: 25px;
    border-left-width: 25px;
    border-bottom: 25px solid black;
}

.vertical .triangle .before.active {
    border-bottom-color: #8BC34A;
}

/* Pointing left */
.horizontal .triangle .before {
    border-top-width: 25px;
    border-bottom-width: 25px;
    border-right: 25px solid black;
}

.horizontal .triangle .before.active {
    border-right-color: #8BC34A;
}

/* Pointing down */
.vertical .triangle .after {
    border-left-width: 25px;
    border-right-width: 25px;
    border-top: 25px solid black;
}

.vertical .triangle .after.active {
    border-top-color: #8BC34A;
}

/* Pointing right */
.horizontal .triangle .after {
    border-bottom-width: 25px;
    border-top-width: 25px;
    border-left: 25px solid black;
}

.horizontal .triangle .after.active {
    border-left-color: #8BC34A;
}
