<div class="root" [ngClass]="{ horizontal: axis === 'x', vertical: axis === 'y' }">
    <div class="triangle"
        touch-button (touchclick)="scrollBack()"
        moveable (moveStart)="onBeforeTouchDown()" (moveEnd)="onBeforeTouchUp()">
        <div class="before"
            [ngClass]="{ active: this.hasBeforeTouchDown }"
            [ngStyle]="triangleBeforeStyle">
        </div>
    </div>
    <div class="scroller" [ngStyle]="scrollerStyle">

        <div class="list"
            [ngStyle]="listStyle"
            moveable
            (moveStart)="onDragBegin($event)"
            (moveUpdate)="onDragUpdate($event)"
            (moveEnd)="onDragEnd($event)">
            <div *ngFor="let dim of dimensions">
                <div class="item"
                    [ngClass]="{ selected: getActiveDim() === dim }"
                    touch-button
                    (touchclick)="setDimension(dim)">

                    {{ dim }}
                </div>
            </div>
        </div>
    </div>
    <div class="triangle"
        touch-button (touchclick)="scrollForward()"
        moveable (moveStart)="onAfterTouchDown()" (moveEnd)="onAfterTouchUp()">
        <div class="after"
            [ngClass]="{ active: this.hasAfterTouchDown }"
            [ngStyle]="triangleAfterStyle">
        </div>
    </div>
</div>
