.root {
    position: relative;
    background: #FAFAFA;
}

.list-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.list {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    height: 100%;
    box-sizing: border-box;

    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -ms-transition: -ms-transform 0.7s ease-in-out;
    transition:  transform 0.7s ease-in-out;
}

.list.moving {
    -webkit-transition: none;
    -ms-transition: none;
    transition:  none;
}

.add-button-container {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: left 0.5s linear;
}

.add-button-container.hidden {
    left: -200px;
}

.add-button {
    width: 150px;
    height: 400px;
    box-shadow: -6px 0px 28px 0px black;
    z-index: 999;
}

.selection-close-area {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    border-radius: 0;
    border: none;
}

.selection-close-area.left {
    left: 0;
}

.selection-close-area.right {
    right: 0;
}
