<!-- Container for layout & to catch events for scrolling -->
<div class="root"
     moveable
     (moveStart)="handleMoveStart($event)"
     (moveUpdate)="handleMoveUpdate($event)"
     (moveEnd)="handleMoveEnd($event)">

    <!-- Buttons to add new graphs -->
    <div class="add-button-container left">
        <graph-create-button class="add-button"
            (graphCreation)="onGraphCreation($event, 'left')">
        </graph-create-button>
    </div>
    <div class="add-button-container right">
        <graph-create-button class="add-button"
            (graphCreation)="onGraphCreation($event, 'right')">
        </graph-create-button>
    </div>


    <div class="list-container">

        <!-- Scrollable list -->
        <div class="list"
             [ngStyle]="listStyle"
             [ngClass]="{ moving: isScrolling || hasInertia }">
            <!-- Graph visualisation that can be dragged&dropped -->
            <graph-list-item *ngFor="let graph of graphs; trackBy: graph?.id"
                [graph]="graph" [offset]="getOffset(graph)">
            </graph-list-item>

            <div class="indicator"
                *ngFor="let graph of newGraphs; trackBy: graph?.id"
                [ngStyle]="getIndicatorStyle(graph)">
            </div>
        </div>
    </div>

    <button class="selection-close-area left" *ngIf="selectedGraph != null" (click)="selectPrev()">
    </button>
    <button class="selection-close-area right" *ngIf="selectedGraph != null" (click)="selectNext()">
    </button>
</div>
