<div class="root">

    <div class="row">
        <div class="selection">
            <graph-dimension-selector [axis]="'y'" [graph]="graph" [size]="1000"></graph-dimension-selector>
        </div>

        <div class="chart">
            <graph-data-selection #selection
                [graph]="graph"
                [width]="1000"
                [height]="1000"
                [margin]="{ top: 50, right: 50, bottom: 100, left: 100 }">
            </graph-data-selection>
        </div>
    </div>

    <div class="row">
        <div class="unused">
            <!-- Unused -->
        </div>

        <div class="selection">
            <graph-dimension-selector [axis]="'x'" [graph]="graph" [size]="1000"></graph-dimension-selector>
        </div>
    </div>
</div>
