<div class="root">

    <graph-data-selection #selection
        [graph]="graph"
        [width]="1000"
        [height]="1000"
        [margin]="{ top: 50, right: 50, bottom: 100, left: 100 }">
    </graph-data-selection>

    <div class="dimension-selection y">
        <select [ngModel]="graph.dimY" (ngModelChange)="assignDimY($event)">
            <option *ngFor="let dim of dimensions" [value]="dim">{{dim}}</option>
        </select>
    </div>

    <div class="dimension-selection x">
        <select [ngModel]="graph.dimX" (ngModelChange)="assignDimX($event)">
            <option *ngFor="let dim of dimensions" [value]="dim">{{dim}}</option>
        </select>
    </div>
</div>
