.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: initial;
    margin: 0;
}

.column.title {
    text-align: center;
}

.selection {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.exit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}

.exit-buttons .confirm {
    background: #8BC34A;
    border-color: #8BC34A;
    width: 49%;
}

.exit-buttons .discard {
    background: #F44336;
    border-color: #F44336;
    width: 49%;
}
