.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.selection {

}

.chart {
    width: 1150px;
    height: 1150px;
}

.unused {
    width: 200px;
}
