.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.selection {

}

.chart {
    width: 1150px;
    height: 1150px;
}

.buttons {
    width: 300px;
    margin-right: 20px;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.dimbutton.active,
.colbutton.active {
    background: #8BC34A;
}

.colbutton {
    border: 1px solid black;
    width: calc(100% - 40px);
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s linear;
    text-transform: uppercase;
}

.dimbuttons {
    display: flex;
    flex-wrap: wrap;
}

.dimbutton {
    border: 1px solid black;
    width: 140px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s linear;
    text-transform: uppercase;
}
