<div class="root">
    <div class="buttons">
        <h2> X </h2>
        <button *ngFor="let dim of this.dimensions"
                class="button-primary"
                [ngClass]="{ 'button-selected': graph.dimX === dim }"
                (click)="assignDimX(dim)">
            {{dim}}
        </button>
    </div>

    <div class="buttons">
        <h2> Y </h2>
        <button *ngFor="let dim of this.dimensions"
                class="button-primary"
                [ngClass]="{ 'button-selected': graph.dimY === dim }"
                (click)="assignDimY(dim)">
            {{dim}}
        </button>
    </div>

    <graph-data-selection #selection [graph]="graph">
    </graph-data-selection>

    <div class="exit-buttons">
        <button class="confirm" (click)="confirm()">
            Close&amp;Apply
        </button>
        <button class="discard" (click)="discard()">
            Close&amp;Discard
        </button>
    </div>
</div>
