<div class="list-item"
     [ngStyle]="getListItemStyle()"
     [ngClass]="{ moving: graph.isPickedUp }">

    <div class="list-item-container">
        <!-- Placeholder to display original position -->
        <div class="placeholder" *ngIf="!graph.isNewlyCreated">
            <!-- TODO indicator that element will snap back to here? -->
        </div>

        <!-- Drag&Drop content -->
        <div class="content"
            [ngStyle]="getGraphStyle()"
            [ngClass]="{ moving: graph.isPickedUp }">
            <graph-section [graph]="graph"></graph-section>

            <div *ngIf="!isFirst()" class="line-buttons">
                <div class="button" touch-button (touchclick)="toggleColorIncrement()" [ngClass]="{ active: graph.colorIncrement }">
                    <span class="icon"> <span class="fa fa-arrows-v"></span> <span class="fa fa-paint-brush"></span> </span>
                    <span class="text"> Color </span>
                </div>
                <div class="button" touch-button (touchclick)="toggleSortIncrement()" [ngClass]="{ active: graph.sortIncrement }">
                    <span class="icon"> <span class="fa fa-arrows-v"></span> <span class="fa fa-sort-amount-asc" aria-hidden="true"></span> </span>
                    <span class="text"> Sort </span>
                </div>
            </div>
        </div>

    </div>
</div>
