<div class="list-item" 
     [ngStyle]="getListItemStyle()"
     [ngClass]="{ moving: graph.isPickedUp || graph.widthTempOffset !== 0 }">

    <div class="list-item-container">
        <!-- Placeholder to display original position -->
        <div class="placeholder" *ngIf="!graph.isNewlyCreated">
            <!-- TODO indicator that element will snap back to here? -->
        </div>

        <!-- Drag&Drop content -->
        <div class="content"
            [ngStyle]="getGraphStyle()"
            [ngClass]="{ moving: graph.isPickedUp }">
            <graph-section [graph]="graph"></graph-section>
        </div>
    </div>
</div>
