.table-container {
    overflow-x: scroll;
    width: 100%;
    position: relative;
}

button {
    border-radius: 0;
    width: 100px;
    background: white;
}

tr.selected button {
    background: #F44336;
}
