.menu-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-container nav {
    max-width: 50%;
    background: #eee;
    padding: 15px;
    display: inline-block;
}

nav a {
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
    text-decoration: underline;
    color: #222;
}
