<div class="menu-container">
    <nav>
        <a href="/sites/full.html">Calibration - Full</a> <br/>
        <a href="/sites/calibration.html">Calibration - Markers</a> <br/>
        <a href="/sites/setup.html">Calibration - Table</a> <br/>
        <a href="/sites/big.html">Calibration - Big</a> <br/>
        <hr/>
        <a href="#" [routerLink]="['/measurement']">Measurement</a> <br/>
        <a href="#" [routerLink]="['/demo']">Spawn bars</a> <br/>
        <a href="#" [routerLink]="['/panzoom']">PanZoom</a>
    </nav>
</div>
