.toggle-button.toggled {
    background: #8BC34A;
}

button:disabled {
    background: #9E9E9E;
}

.small-button {
    padding: 0 !important;
    font-size: 8px;
}

.centered {
    text-align: center;
}
