.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.map-container {
    position: relative;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

.map-border {
    position: absolute;
    background: white;
}

.map {
}
