.section-root {
    height: 100%;
    position: relative;
    transition: width 0.4s linear;
}

.graph-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.markers {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 50px;
    background: white;
    border: 1px solid black;
}

.markers.horizontal {
    flex-direction: row;
}

.markers.vertical {
    flex-direction: column;
}

.markers > ar-marker {
    padding: 30px;
}


.button, button {
    background: rgba(0, 0, 0, 0.8);
    width: 150px;
    height: 150px;
    margin: 20px;

    border-radius: 0;
    border: 1px solid black;
    background: white;
    color: black;
}

.chart-container {
    background: white;
    width: 300px;
    height: 1100px;
    border: 1px solid black;
}

.chart-button {
    width: 100%;
    height: 100px;
    margin: 0;
    border: none;
    border-top: 1px solid black;
}
