<div class="section-root"
    [style.background]="graph.color">

    <div class="graph-section">

        <div class="row">
            <div class="markers horizontal">
                <ar-marker [marker]="markers[0]"></ar-marker>
            </div>
        </div>

        <div class="row">
            <div class="markers vertical">
                <ar-marker [marker]="markers[1]"></ar-marker>
                <ar-marker [marker]="markers[2]"></ar-marker>
                <ar-marker [marker]="markers[3]"></ar-marker>
            </div>

            <div class="chart-container" [ngClass]="{ selected: graph.isSelected }">

                <div>
                    <div *ngIf="showOverview && graph.dimX && graph.dimY">
                        <!-- Width & height from css -->
                        <graph-overview-chart
                            [width]="300"
                            [height]="1250"
                            [graph]="graph"
                            [dim]="graph.isFlipped ? graph.dimY : graph.dimX">
                        </graph-overview-chart>

                        <div class="button chart-button"
                            touch-button
                            (touchclick)="toggleColor()"
                            [ngClass]="{ active: graph.isFlipped ? graph.useColorY : graph.useColorX }">
                            <div class="text">
                                Colour
                            </div>
                    </div>
                </div>
                </div>

                <div>
                    <graph-detail
                        *ngIf="showDetail"
                        [graph]="graph">
                    </graph-detail>
                </div>
            </div>

            <div class="markers vertical" style="position: relative;">
                <ar-marker [marker]="markers[4]"></ar-marker>
                <ar-marker [marker]="markers[5]"></ar-marker>
                <ar-marker [marker]="markers[6]"></ar-marker>
            </div>
        </div>


        <div class="row" style="align-items: flex-start;">
            <div class="button-container" style="margin: 30px;">
                <div class="button"
                    [ngClass]="{ active: graph.isPickedUp }"
                    moveable
                    (moveStart)="handleMoveStart($event)"
                    (moveUpdate)="handleMoveUpdate($event)"
                    (moveEnd)="handleMoveEnd($event)">
                    <div class="icon">
                        <span class="fa fa-arrows-h" aria-hidden="true"></span>
                    </div>
                    <div class="text">
                        Move
                    </div>
                </div>
                <div class="button" touch-button (touchclick)="selectGraph()" *ngIf="!graph.isSelected">
                    <div class="icon">
                        <span class="fa fa-sliders" aria-hidden="true"></span>
                    </div>

                    <div class="text">
                        Select
                    </div>
                </div>
                <div class="button" touch-button (touchclick)="closeSelection()" *ngIf="graph.isSelected">
                    <div class="icon">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </div>

                    <div class="text">
                        Close
                    </div>
                </div>
            </div>

            <div class="markers horizontal">
                <ar-marker [marker]="markers[7]"></ar-marker>
            </div>

            <div class="button-container" style="margin: 30px;">
                <div class="button"
                    touch-button
                    (touchclick)="toggleFlip()"
                    [ngClass]="{ active: graph.isFlipped }">
                    <div class="icon">
                        <span class="fa fa-level-up" [ngClass]="{ 'fa-rotate-90': !graph.isFlipped }" aria-hidden="true"></span>
                    </div>

                    <div class="text">
                        Flip
                    </div>
                </div>
                <div class="button" touch-button (touchclick)="deleteGraph()">
                    <div class="icon">
                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                    </div>

                    <div class="text">
                        Delete
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
