.section-root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}

.dimensions {
    font-size: 5em;
    font-family: "geosanslightregular";
    position: relative;
}

.dimensions > .x {
    position: absolute;
    top: 70%;
    left: 50%;
}

.dimensions > .y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
}

.buttons {
}

.buttons .row {
    height: 70px;
}

.buttons button {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-color: transparent;
    font-size: 2em;
    font-family: "geosanslightregular";
    color: white;
}
