<div class="section-root"
    [style.background]="graph.color">

    <div class="marker" [ngClass]="{ top: !graph.isSelected, right: graph.isSelected }">
        <ar-marker [marker]="markers[0]"></ar-marker>
    </div>
    <div class="marker" [ngClass]="{ bottom: !graph.isSelected, left: graph.isSelected }">
        <ar-marker [marker]="markers[1]"></ar-marker>
    </div>




    <div *ngIf="!graph.isSelected">

        <graph-overview [graph]="graph"></graph-overview>

        <div class="buttons container">
            <div class="row">
                <div class="twelve columns">
                    <button (click)="selectGraph()"> Select </button>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <button (click)="deleteGraph()"> Remove </button>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns"

                    moveable
                    (moveStart)="handleMoveStart($event)"
                    (moveUpdate)="handleMoveUpdate($event)"
                    (moveEnd)="handleMoveEnd($event)">
                    <div class="button"> ↔ </div>
                </div>
            </div>
        </div>

    </div>




    <div *ngIf="graph.isSelected" class="detail">
        <graph-detail
            [graph]="graph"
            (onClose)="deselectGraph()">
        </graph-detail>
    </div>

</div>




