<div class="section-root">

    <div class="centered">
        <div class="marker">
            <img src="/markers/artoolkitplusbch_00000.png">
        </div>
    </div>


    <div class="container bottom">
        <div class="row">
            <div class="twelve columns">
                <h4>X: {{ graph.dimX }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4>Y: {{ graph.dimY }}</h4>
            </div>
        </div>
    </div>
</div>
