<div class="root">
    <div class="container">
        <div class="row">
            <div class="four columns" style="color: #03A9F4;">Rotation</div>
            <div class="four columns" style="color: #4CAF50;">Position</div>
            <div class="four columns" style="color: white;">Overall</div>
        </div>

        <admin-change-monitor [height]="300" [width]="width" [name]="'dummy'"></admin-change-monitor>
        <admin-change-monitor [height]="300" [width]="width" [name]="'dummy2'"></admin-change-monitor>
    </div>
</div>
