<div class="root">
    <div class="tabs">
        <button *ngFor="let tab of tabs"
            class="tab"
            [ngClass]="{ active: activeTab === tab }"
            (click)="activeTab = tab">
            {{tab}}
        </button>
    </div>

    <div class="container" *ngIf="activeTab === 'Calibration'">
        <admin-calibration></admin-calibration>
    </div>

    <div class="container" *ngIf="activeTab === 'Stability'">
        <div class="row">
            <div class="four columns" style="color: #03A9F4;">Rotation</div>
            <div class="four columns" style="color: #4CAF50;">Position</div>
            <div class="four columns" style="color: black;">Overall</div>
        </div>

        <hr/>

        <h2>Optitrack</h2>
        <admin-change-monitor [height]="300" [width]="width" [name]="'optitrack'"></admin-change-monitor>

        <hr/>

        <h2>OVR</h2>
        <admin-change-monitor [height]="300" [width]="width" [name]="'ovr'"></admin-change-monitor>

    </div>

    <div class="container" *ngIf="activeTab === 'Camera'">
        <admin-camera></admin-camera>
    </div>

    <div class="container" *ngIf="activeTab === 'Data'">
        <admin-data></admin-data>
    </div>

    <div class="container" *ngIf="activeTab === 'Actions'">
        <div class="buttons row">
            <select name="corners" class="four columns" #cornerSelection>
                <option value="0">Top Left</option>
                <option value="1">Top Right</option>
                <option value="2">Bottom Right</option>
                <option value="3">Bottom Left</option>
            </select>
            <button class="button-primary four columns"
                (click)="setCorner(cornerSelection.value)">
                Set Corner
            </button>
            <button class="button-primary four columns"
                (click)="setSurface()">
                Set Surface
            </button>
        </div>

        <hr/>

        <div class="buttons">
            <button class="button-primary four columns"
                (click)="resetCalibration()">
                Reset Calibration
            </button>
            <button class="button-primary four columns"
                (click)="saveSurfaces()">
                Save Surfaces
            </button>
        </div>
    </div>
</div>
