<div class="root">
    <chart-2d [height]="height" [width]="width"
              [margin]="margin"
              [dimensionX]="graph.getCurrentXAxis()"
              [dimensionY]="graph.getCurrentYAxis()"

              touch-button
              (touchclick)="handleClick($event)"
              [usePress]="true"
              (touchpress)="handleClick($event)"

              moveable
              (moveStart)="handleTouchDown($event)"
              (moveUpdate)="handleTouchMove($event)"
              (moveEnd)="handleTouchUp($event)">
    </chart-2d>

    <div class="menu-container"
         *ngIf="clickedFilter && clickedFilter.isSelected"
         [ngStyle]="popupStyle">
        <filter-menu [filter]="clickedFilter">
        </filter-menu>
    </div>

</div>
