<div class="root">
    <chart-2d [height]="height" [width]="width"
              [margin]="margin"
              [dimensionX]="graph.isFlipped ? dimY : dimX"
              [dimensionY]="graph.isFlipped ? dimX : dimY"

              touch-button
              (touchclick)="handleClick($event)"

              moveable
              (moveStart)="handleTouchDown($event)"
              (moveUpdate)="handleTouchMove($event)"
              (moveEnd)="handleTouchUp($event)">
    </chart-2d>

    <div class="button popup"
         [ngStyle]="popupStyle"

         touch-button
         (touchclick)="popupClick($event)">
        Remove
    </div>
</div>
